/* CSS STYLESHEET START */

.hidden {
	display: none;
}

@font-face {
    font-family: 'eczarbold';
    src: url('../fonts/eczar-bold-webfont.woff2') format('woff2'),
         url('../fonts/eczar-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherregular';
    src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
}

#headerImage {
	width: 960px;
	height: 400px;
	background-image: url(../images/image1-beerMug.jpg);
}

#siteTitle {
	font-family: 'eczarbold';
	font-size: 72px;
	padding-left: 700px;
	padding-top: 300px;
}

#siteTitle:first-letter {
	font-size: 100px;
}

.colorBG {
	background-color: #F1D8B2;
}

.articleTitle {
	font-family: 'eczarbold';
	font-size: 26px;
}

.articleParagraph {
	font-family: 'merriweatherregular';
	font-size: 13px;
}

#sectionOne {
	display: flex;
	flex-direction: row;
	margin-left: 64px;
	margin-right: 64px;
	padding-top: 32px;
	padding-bottom: 32px;
	line-height: 18px;
}

#sectionOne p {
	margin-top: 16px;
}

#sectionOne p:first-letter {
	font-size: 24px;
}

#sectionOne p:first-line {
	font-size: 16px;
}

#sectionOne img {
	width: 412px;
	height: 199px;
	margin-left: 64px;
	margin-top: 48px;
}

#sectionTwo {
	display: flex;
	flex-direction: row-reverse;
	text-align: right;
}

#sectionTwo p {
	margin-top: 16px;
	line-height: 18px;
}

#sectionTwo img {
	margin-top: 32px;
	margin-bottom: 16px;
	margin-right: 32px;
	margin-left: 70px;
	width: 409px;
	height: 248px;
}

#sectionTwo h2 {
	margin-right: 70px;
	margin-top: 32px;
}

#sectionTwo p {
	text-align: justify;
	margin-right: 70px;
	width: 379px;
}

#sectionTwo p:first-letter {
	font-size: 24px;
}

#sectionTwo p:first-line {
	font-size: 18px;
}

#sectionTwoPTwo {
	font-family: 'merriweatherregular';
	font-size: 13px;
	text-align: justify;
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 16px;
	line-height: 18px;
}

#sectionThree {
	text-align: justify;
	line-height: 18px;
}

#sectionThree h2 {
	text-align: center;
	padding-top: 32px;
}


#threeTop {
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 16px;
	margin-top: 16px;
}

#threeTop:first-letter {
	font-size: 24px;
}

#beerOnTap {
	width: 821px;
	height: 368px;
	margin-left: 70px;
	background-image: url(../images/image4-barTap.jpg);
	padding-top: 32px;
}

#beerOnTap p {
	padding: 16px;
	line-height: 24px;
}

/*#sectionThree p {
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 16px;
}*/

#sectionThreeSplit {
	display: flex;
	flex-direction: row;
	margin-top: 16px;

}

#threePartOne {
	text-align: left;
	color: #FFF;
	width: 388px;
	height: 320px;
	border-radius: 25px;
	margin-right: 470px;
	margin-left: 32px;
	background-color: rgba(0, 0, 0, .4);
}

#threePartOne p:first-line {
	font-size: 16px;
}

#threePartOne p:first-letter {
	font-size: 24px;
}

#threePartTwo {
	text-align: left;
	margin-top: 16px;
	line-height: 24px;
	margin-left: 70px;
	margin-right: 70px;
	padding-bottom: 16px;
}

#threePartTwo p:first-letter {
	font-size: 24px;
}

#threePartTwo p:first-line {
	font-size: 16px;
}

#sectionFour {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#sectionFour h2 {
	padding-left: 70px;
	margin-bottom: 16px;
}

#sectionFour img {
	width: 360px;
	order: 1;
	margin-bottom: 16px;
	margin-top: 16px;
	margin-right: 70px;
}

#sectionFour p {
	padding-left: 70px;
	padding-right: 32px;
	text-align: justify;
	padding-bottom: 16px;
	line-height: 18px;
}

#sectionFour p:first-letter {
	font-size: 24px;
}

#conclusion {
	text-align: center;
	padding-top: 16px;
	padding-bottom: 32px;
	padding-left: 70px;
	padding-right: 70px;
}

#conclusion p {
	line-height: 18px;
	padding-top: 16px;
}

#conclusion p:first-letter {
	font-size: 24px;
}